body {
	padding: 0;
	border: 0;
	margin: 0;
}

#circle { /*http://techkamar.blogspot.com/2013/12/how-to-make-circle-images-using-css.html*/
	border-radius: 50% 50% 50% 50%;
	width: 15em;
	height: 15em;
	border: .25em solid white;
	margin-left: 5em;
}

.background {
	background-color: #1abc9c;
	width: 100%;
	height: 100%;
}

.teal-section {
	display: block;
	background-color: #1abc9c;
}

.teal-bar {
	display: block;
	background-color: #1abc9c;
	margin-bottom: 2em;
}

.biotxt-white {
	font-family: helvetica;
	color: white;
	font-size: 80px;
}

.biotxt-teal {
	font-family: helvetica;
	color: #1abc9c;
	font-size: 80px;
}

.white-section {
	display: block;
	background-color: white;
}

.hello {
	color: white;
	font-size: 11em;
	font-family: helvetica;
	margin-left: 4%;
}

.name {
	color: white;
	font-size: 5em;
	font-family: helvetica;
	margin-left: 4.5%;
}

.two-thirds-block {
	margin-right: 6px;
	display: inline-block;
	width: 60%;
	margin-bottom: 4em;
}

.one-third-block {
	margin-left: 6px;
	display: inline-block;
	width: 30%;
	margin-bottom: 4em;
}

.half-block {
	width: 49%;
	display: inline-block;
}

.test {
	background-color: black;
}

.button { /*http://designshack.net/articles/css/css-button-tutorial-how-to-code-buttons-in-5-simple-steps/*/
	/*basic button elements styling*/
	display: block;
	background: transparent;
	width: 200px;
	height: 45px;
	border: 5px solid white;
	margin-left: 5em;
	margin-top: 1em;

	/*text styling*/
	text-align: center;
	font-size: 40px;
	color: white;
}

a.button {
	text-decoration: none;
	font-family: helvetica;
}

.button:hover {
	color: #bdc3c7;
	border: 5px solid #bdc3c7;
}

.left-button {
	margin-left: 1em;
}

.right-button {
	margin-right: 1em;
}

.long-block {
	display: block;
	position: center;
	margin-left: 25%;
}

